<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Provide the best service to run. Run is travel.</title>
	<meta name="author" content="Alvaro Trigo Lopez" />
	<meta name="description" content="fullPage very simple demo." />
	<meta name="keywords"  content="fullpage,jquery,demo,simple" />
	<meta name="Resource-type" content="Document" />

	<link rel="stylesheet" type="text/css" href="styles/jquery.fullPage.css" />
	<link rel="stylesheet" type="text/css" href="styles/style.css" />
	<noscript>
		<link rel="stylesheet" href="styles/skel.css" />
		<link rel="stylesheet" href="styles/style.css" />
		<link rel="stylesheet" href="styles/style-wide.css" />
	</noscript>
	<!--[if lte IE 8]><link rel="stylesheet" href="styles/css/ie/v8.css" /><![endif]-->

  <style media="screen">

  /* Fixed header and footer.
	* --------------------------------------- */
	#header, #footer{
		position:fixed;
		height: 50px;
		display:block;
		width: 100%;
		background: #333;
		z-index:9;
		text-align:center;
		color: #f2f2f2;
		padding: 20px 0 0 0;
	}

	#header{
		top:0px;
	}
	#footer{
		bottom:0px;
	}
  </style>

</head>
<body>

<div id="header">
  <h1><a href="#">NEWSRUN</a></h1>
	<nav id="nav">
		<ul>
			<li><a href="/">Home</a></li>
			<% if session.has_key?(:email) && ! session[:email].empty? %>
				<li><span><%= session[:user] %>, Welcome!</a></li>
				<li><a href="/logout" class="button">Logout</a></li>
			<% else %>
				<li><a href="/login">Login</a></li>
				<li><a href="/register" class="button">Sign Up</a></li>
			<% end %>
		</ul>
	</nav>

</div>

<div id="footer">
	<ul class="copyright">
		<li>&copy; 2014 Newsrun. All rights reserved.</li><li>Design: <a href="http://github.com/newsrun">Newsrun</a></li>
	</ul>
</div>

<div id="fullpage">
	<div class="section active" id="section0">

    <section id="banner">
			<h2>Newsrun</h2>
			<p>Provide the best service to run. Run is travel.</p>
			<ul class="actions">
				<% if session.has_key?(:email) && ! session[:email].empty? %>
					<li><a href="#" class="button special" id="moveSectionDown">Start run</a></li>
				<% else %>
					<li><a href="/login" class="button special">Login</a></li>
					<li><a href="#" class="button" id="moveSectionDown">Start run</a></li>
				<% end %>
			</ul>
		</section>

  </div>

	<div class="section" id="section1">
		<% @news.each_with_index do |item, index| %>

			<% photo = JSON.parse(item.PhotoLink)['photodata'][0]['photo_url'] %>
			<div class="slide">
				<!-- Main -->
				<section id="main" class="container">
					<header>
						<h3><%= item.Title %></h3>
						<p><%= item.ReleaseDate %></p>
					</header>
					<div class="box">
						<span class="image featured" style="height:400px;overflow:hidden"><img src="<%= photo %>" alt="" /></span>
						<h3>紹介</h3>
						<p><%= item.Body %></p>

						<p>Most Related Twitters</p>

						<div class="row" style="margin-top:10px;">
							<% @twitters[index].each do |twitter|%>
								<div class="6u 12u(2)" style="height:600px;">
									<section class="box special" style="padding-top:0;">
										<span class="image featured" style="height:200px;overflow:hidden"><img src="<%= twitter[:pics]%>" alt=""></span>
										<p><%= twitter[:text] %></p>
										<ul class="actions">
											<li><a href="<%= twitter[:url] %>" class="button alt" target="_blank">Details</a></li>
										</ul>
									</section>
								</div>
							<% end %>
						</div>
					</div>
				</section>
			</div>
		<% end %>
	</div>

</div>

<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
<script src="javascripts/jquery-1.11.1.min.js"></script>
<script src="javascripts/jquery.dropotron.min.js"></script>
<script src="javascripts/jquery.scrollgress.min.js"></script>
<script src="javascripts/skel.min.js"></script>
<script src="javascripts/skel-layers.min.js"></script>
<script src="javascripts/init.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="javascripts/jquery.fullPage.js"></script>
<script src="javascripts/jquery.slimscroll.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#fullpage').fullpage({
      scrollOverflow: true
    });

    $('#moveSectionDown').click(function(e){
			e.preventDefault();
			$.fn.fullpage.moveSectionDown();
		});

		<% if session.has_key?(:email) && ! session[:email].empty? %>
			$('#moveSectionDown').click();
		<% end %>
  });
</script>

</body>
</html>
